/* https://coolors.co/171a21-617073-7a93ac-92bcea-afb3f7 */

@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d8e2dc;
}

nav {
  width: 100%;
  background-color: #171a21;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  margin: 0;
  padding: 1rem 0 1rem 0;
  font-size: 36px;
  font-weight: bold;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 325px;
  height: 450px;
  background-color: #5c5346;
  border: #2e251a 5px solid;
  border-radius: 15px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.text-box {
  grid-column-start: span 4;
  background-color: rgba(238, 238, 238, 0.85);
  border: 3px solid #171a21;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.text-box-paragraph {
  margin-right: 10px;
  font-size: 20px;
}

.calculator-functional-button {
  background-color: #a69f98;
  border: 3px solid #171a21;
  border-radius: 10px;
  margin: 7px;
  font-size: 30px;
  font-weight: bold;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-functional-button:hover {
  background-color: #928272;
  cursor: pointer;
}

.calculator-number-button {
  background-color: #8c6057;
  border: 3px solid #171a21;
  border-radius: 10px;
  margin: 7px;
  font-size: 30px;
  font-weight: bold;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-number-button:hover {
  background-color: #76473e;
  cursor: pointer;
}

.zero {
  grid-column-start: span 2;
}

.equal {
  background-color: #afd5aa;
}

.equal:hover {
  background-color: #89e17d;
}
