@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: #171a21;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  margin: 0;
  padding: 1rem 0 1rem 0;
  font-size: 36px;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 325px;
  height: 450px;
  background-color: #617073;
  border: #171a21 5px solid;
  border-radius: 15px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.text-box {
  grid-column-start: span 4;
  background-color: rgba(238, 238, 238, 0.85);
  border: 3px solid #171a21;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.text-box-paragraph {
  margin-right: 10px;
  font-size: 20px;
}

.calculator-functional-button {
  background-color: #7a93ac;
  font-size: 24px;
  color: white;
  margin: 5px 10px 5px 10px;
  text-align: center;
}
